[Alert name to HipChat room mappings]
Test Alert=Test Room 1

[Splunk configuration]
host=localhost
port=8089
username=admin
password=changeme
app=search

[HipChat configuration]
baseurl=https://<REPLACE WITH YOUR HIPCHAT SERVER>
authtoken=<REPLACE WITH A V2 AUTH TOKEN>
defaultroomname=Default

# Splunk alerts maps in the following way: Info = 1, Low = 2, Medium = 3, High = 4, Critical = 5
[HipChat alert colour rules]
1=green
2=green
3=yellow
4=red
5=red

[HipChat alert notification rules]
1=false
2=false
3=true
4=true
5=true
